/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-size: 62.5%;
    font-family: Roboto,'Helvetica Neue',Arial,sans-serif;
    line-height: 1.4!important;
    letter-spacing: -.1px!important;
}

body{
    font-size: 14px;
}


body, html {
    display: flex;
    flex: 1 0 auto;
    width: 100%;
    height: 100%;
    max-height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #f5f5f5;
    -webkit-font-smoothing: auto;
}
.mat-accent-bg {
    background-color: #03a9f4!important;
    color: #fff!important;
}

@media (min-width: 600px){
    .p-sm-24 {
        padding: 24px!important;
    }
}

.p-16 {
    padding: 16px!important;
}


.page-layout {
    position: relative;
    overflow: hidden;

    

   
    
}

.page-layout.simple {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    width: 100%;
    min-width: 100%;
}

.page-layout.simple.left-sidebar,.page-layout.simple.right-sidebar {
    flex-direction: row;

   
}

.page-layout.simple.left-sidebar,.page-layout.simple.right-sidebar {
    flex-direction: row;
}
.page-layout.simple.left-sidebar.inner-scroll, .page-layout.simple.right-sidebar.inner-scroll {
    flex: 1 1 auto;
}

.page-layout.simple.left-sidebar.inner-sidebar, .page-layout.simple.right-sidebar.inner-sidebar {
    flex-direction: column;
    overflow: hidden;
    height: 100%;
}
.page-layout.simple.left-sidebar.header,.page-layout.simple.right-sidebar.header {
    height: 120px;
    min-height: 120px;
    max-height: 120px;
}



.avatar {
    width: 40px;
    min-width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 0 8px 0 0;
    border-radius: 50%;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    color: #fff;
}

.nav .nav-group {
    display: block;
}

.nav.vertical .nav-group .group-title {
    text-transform: uppercase;
}

.nav .nav-group>.group-title {
    position: relative;
    display: flex;
    align-items: center;
    height: 48px;
    font-weight: 500;
    padding-left: 24px;
    margin-top: 8px;
    font-size: 12px;
    white-space: nowrap;
}

app-root {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    width: 100%;
    height: 100%;
    min-width: 0;
}

.mat-atlas-dark-700-bg {
    background-color: #2d323e!important;
    color: rgba(255,255,255,.87)!important;
}

.mat-indigo-700-bg {
    background-color: #303f9f!important;
    color: #fff!important;
}

.mat-icon-button .mat-button-ripple {
    border-radius: 50%;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
    border: none;
}

.ps {
    position: relative;
}

.ps {
    overflow: hidden!important;
    overflow-anchor: none;
    -ms-overflow-style: none;
    touch-action: auto;
    -ms-touch-action: auto;
}

.h3, h3 {
    font-size: 16px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}   

.mt-8 {
    margin-top: 8px!important;
}

.p-0 {
    padding: 0!important;
}

.mat-fab {
    box-sizing: border-box;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: 0;
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    min-width: 88px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 2px;
    overflow: visible;
    transform: translate3d(0,0,0);
    transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
    min-width: 0;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    padding: 0;
    flex-shrink: 0;
}

.mat-fab .mat-button-wrapper {
    padding: 16px 0;
    display: inline-block;
    line-height: 24px;
    
}

.mat-accent-500-bg .disabled-text, .mat-accent-500-bg .hint-text, .mat-accent-500-bg.disabled-text, .mat-accent-500-bg.hint-text, .mat-accent-600-bg .disabled-text, .mat-accent-600-bg .hint-text, .mat-accent-600-bg.disabled-text, .mat-accent-600-bg.hint-text, .mat-accent-700-bg .disabled-text, .mat-accent-700-bg .hint-text, .mat-accent-700-bg.disabled-text, .mat-accent-700-bg.hint-text, .mat-accent-800-bg .disabled-text, .mat-accent-800-bg .hint-text, .mat-accent-800-bg.disabled-text, .mat-accent-800-bg.hint-text, .mat-accent-900-bg .disabled-text, .mat-accent-900-bg .hint-text, .mat-accent-900-bg.disabled-text, .mat-accent-900-bg.hint-text, .mat-accent-A700-bg .disabled-text, .mat-accent-A700-bg .hint-text, .mat-accent-A700-bg.disabled-text, .mat-accent-A700-bg.hint-text, .mat-accent-bg .disabled-text, .mat-accent-bg .hint-text, .mat-accent-bg.disabled-text, .mat-accent-bg.hint-text, .mat-black-500-bg .disabled-text, .mat-black-500-bg .hint-text, .mat-black-500-bg.disabled-text, .mat-black-500-bg.hint-text, .mat-black-bg .disabled-text, .mat-black-bg .hint-text, .mat-black-bg.disabled-text, .mat-black-bg.hint-text, .mat-blue-500-bg .disabled-text, .mat-blue-500-bg .hint-text, .mat-blue-500-bg.disabled-text, .mat-blue-500-bg.hint-text, .mat-blue-600-bg .disabled-text, .mat-blue-600-bg .hint-text, .mat-blue-600-bg.disabled-text, .mat-blue-600-bg.hint-text, .mat-blue-700-bg .disabled-text, .mat-blue-700-bg .hint-text, .mat-blue-700-bg.disabled-text, .mat-blue-700-bg.hint-text, .mat-blue-800-bg .disabled-text, .mat-blue-800-bg .hint-text, .mat-blue-800-bg.disabled-text, .mat-blue-800-bg.hint-text, .mat-blue-900-bg .disabled-text, .mat-blue-900-bg .hint-text, .mat-blue-900-bg.disabled-text, .mat-blue-900-bg.hint-text, .mat-blue-A200-bg .disabled-text, .mat-blue-A200-bg .hint-text, .mat-blue-A200-bg.disabled-text, .mat-blue-A200-bg.hint-text, .mat-blue-A400-bg .disabled-text, .mat-blue-A400-bg .hint-text, .mat-blue-A400-bg.disabled-text, .mat-blue-A400-bg.hint-text, .mat-blue-A700-bg .disabled-text, .mat-blue-A700-bg .hint-text, .mat-blue-A700-bg.disabled-text, .mat-blue-A700-bg.hint-text, .mat-blue-bg .disabled-text, .mat-blue-bg .hint-text, .mat-blue-bg.disabled-text, .mat-blue-bg.hint-text, .mat-blue-grey-400-bg .disabled-text, .mat-blue-grey-400-bg .hint-text, .mat-blue-grey-400-bg.disabled-text, .mat-blue-grey-400-bg.hint-text, .mat-blue-grey-500-bg .disabled-text, .mat-blue-grey-500-bg .hint-text, .mat-blue-grey-500-bg.disabled-text, .mat-blue-grey-500-bg.hint-text, .mat-blue-grey-600-bg .disabled-text, .mat-blue-grey-600-bg .hint-text, .mat-blue-grey-600-bg.disabled-text, .mat-blue-grey-600-bg.hint-text, .mat-blue-grey-700-bg .disabled-text, .mat-blue-grey-700-bg .hint-text, .mat-blue-grey-700-bg.disabled-text, .mat-blue-grey-700-bg.hint-text, .mat-blue-grey-800-bg .disabled-text, .mat-blue-grey-800-bg .hint-text, .mat-blue-grey-800-bg.disabled-text, .mat-blue-grey-800-bg.hint-text, .mat-blue-grey-900-bg .disabled-text, .mat-blue-grey-900-bg .hint-text, .mat-blue-grey-900-bg.disabled-text, .mat-blue-grey-900-bg.hint-text, .mat-blue-grey-A400-bg .disabled-text, .mat-blue-grey-A400-bg .hint-text, .mat-blue-grey-A400-bg.disabled-text, .mat-blue-grey-A400-bg.hint-text, .mat-blue-grey-A700-bg .disabled-text, .mat-blue-grey-A700-bg .hint-text, .mat-blue-grey-A700-bg.disabled-text, .mat-blue-grey-A700-bg.hint-text, .mat-blue-grey-bg .disabled-text, .mat-blue-grey-bg .hint-text, .mat-blue-grey-bg.disabled-text, .mat-blue-grey-bg.hint-text, .mat-brown-300-bg .disabled-text, .mat-brown-300-bg .hint-text, .mat-brown-300-bg.disabled-text, .mat-brown-300-bg.hint-text, .mat-brown-400-bg .disabled-text, .mat-brown-400-bg .hint-text, .mat-brown-400-bg.disabled-text, .mat-brown-400-bg.hint-text, .mat-brown-500-bg .disabled-text, .mat-brown-500-bg .hint-text, .mat-brown-500-bg.disabled-text, .mat-brown-500-bg.hint-text, .mat-brown-600-bg .disabled-text, .mat-brown-600-bg .hint-text, .mat-brown-600-bg.disabled-text, .mat-brown-600-bg.hint-text, .mat-brown-700-bg .disabled-text, .mat-brown-700-bg .hint-text, .mat-brown-700-bg.disabled-text, .mat-brown-700-bg.hint-text, .mat-brown-800-bg .disabled-text, .mat-brown-800-bg .hint-text, .mat-brown-800-bg.disabled-text, .mat-brown-800-bg.hint-text, .mat-brown-900-bg .disabled-text, .mat-brown-900-bg .hint-text, .mat-brown-900-bg.disabled-text, .mat-brown-900-bg.hint-text, .mat-brown-A400-bg .disabled-text, .mat-brown-A400-bg .hint-text, .mat-brown-A400-bg.disabled-text, .mat-brown-A400-bg.hint-text, .mat-brown-A700-bg .disabled-text, .mat-brown-A700-bg .hint-text, .mat-brown-A700-bg.disabled-text, .mat-brown-A700-bg.hint-text, .mat-brown-bg .disabled-text, .mat-brown-bg .hint-text, .mat-brown-bg.disabled-text, .mat-brown-bg.hint-text, .mat-cyan-500-bg .disabled-text, .mat-cyan-500-bg .hint-text, .mat-cyan-500-bg.disabled-text, .mat-cyan-500-bg.hint-text, .mat-cyan-600-bg .disabled-text, .mat-cyan-600-bg .hint-text, .mat-cyan-600-bg.disabled-text, .mat-cyan-600-bg.hint-text, .mat-cyan-700-bg .disabled-text, .mat-cyan-700-bg .hint-text, .mat-cyan-700-bg.disabled-text, .mat-cyan-700-bg.hint-text, .mat-cyan-800-bg .disabled-text, .mat-cyan-800-bg .hint-text, .mat-cyan-800-bg.disabled-text, .mat-cyan-800-bg.hint-text, .mat-cyan-900-bg .disabled-text, .mat-cyan-900-bg .hint-text, .mat-cyan-900-bg.disabled-text, .mat-cyan-900-bg.hint-text, .mat-cyan-bg .disabled-text, .mat-cyan-bg .hint-text, .mat-cyan-bg.disabled-text, .mat-cyan-bg.hint-text, .mat-deep-orange-500-bg .disabled-text, .mat-deep-orange-500-bg .hint-text, .mat-deep-orange-500-bg.disabled-text, .mat-deep-orange-500-bg.hint-text, .mat-deep-orange-600-bg .disabled-text, .mat-deep-orange-600-bg .hint-text, .mat-deep-orange-600-bg.disabled-text, .mat-deep-orange-600-bg.hint-text, .mat-deep-orange-700-bg .disabled-text, .mat-deep-orange-700-bg .hint-text, .mat-deep-orange-700-bg.disabled-text, .mat-deep-orange-700-bg.hint-text, .mat-deep-orange-800-bg .disabled-text, .mat-deep-orange-800-bg .hint-text, .mat-deep-orange-800-bg.disabled-text, .mat-deep-orange-800-bg.hint-text, .mat-deep-orange-900-bg .disabled-text, .mat-deep-orange-900-bg .hint-text, .mat-deep-orange-900-bg.disabled-text, .mat-deep-orange-900-bg.hint-text, .mat-deep-orange-A400-bg .disabled-text, .mat-deep-orange-A400-bg .hint-text, .mat-deep-orange-A400-bg.disabled-text, .mat-deep-orange-A400-bg.hint-text, .mat-deep-orange-A700-bg .disabled-text, .mat-deep-orange-A700-bg .hint-text, .mat-deep-orange-A700-bg.disabled-text, .mat-deep-orange-A700-bg.hint-text, .mat-deep-orange-bg .disabled-text, .mat-deep-orange-bg .hint-text, .mat-deep-orange-bg.disabled-text, .mat-deep-orange-bg.hint-text, .mat-deep-purple-300-bg .disabled-text, .mat-deep-purple-300-bg .hint-text, .mat-deep-purple-300-bg.disabled-text, .mat-deep-purple-300-bg.hint-text, .mat-deep-purple-400-bg .disabled-text, .mat-deep-purple-400-bg .hint-text, .mat-deep-purple-400-bg.disabled-text, .mat-deep-purple-400-bg.hint-text, .mat-deep-purple-500-bg .disabled-text, .mat-deep-purple-500-bg .hint-text, .mat-deep-purple-500-bg.disabled-text, .mat-deep-purple-500-bg.hint-text, .mat-deep-purple-600-bg .disabled-text, .mat-deep-purple-600-bg .hint-text, .mat-deep-purple-600-bg.disabled-text, .mat-deep-purple-600-bg.hint-text, .mat-deep-purple-700-bg .disabled-text, .mat-deep-purple-700-bg .hint-text, .mat-deep-purple-700-bg.disabled-text, .mat-deep-purple-700-bg.hint-text, .mat-deep-purple-800-bg .disabled-text, .mat-deep-purple-800-bg .hint-text, .mat-deep-purple-800-bg.disabled-text, .mat-deep-purple-800-bg.hint-text, .mat-deep-purple-900-bg .disabled-text, .mat-deep-purple-900-bg .hint-text, .mat-deep-purple-900-bg.disabled-text, .mat-deep-purple-900-bg.hint-text, .mat-deep-purple-A200-bg .disabled-text, .mat-deep-purple-A200-bg .hint-text, .mat-deep-purple-A200-bg.disabled-text, .mat-deep-purple-A200-bg.hint-text, .mat-deep-purple-A400-bg .disabled-text, .mat-deep-purple-A400-bg .hint-text, .mat-deep-purple-A400-bg.disabled-text, .mat-deep-purple-A400-bg.hint-text, .mat-deep-purple-A700-bg .disabled-text, .mat-deep-purple-A700-bg .hint-text, .mat-deep-purple-A700-bg.disabled-text, .mat-deep-purple-A700-bg.hint-text, .mat-deep-purple-bg .disabled-text, .mat-deep-purple-bg .hint-text, .mat-deep-purple-bg.disabled-text, .mat-deep-purple-bg.hint-text, .mat-fuse-dark-300-bg .disabled-text, .mat-fuse-dark-300-bg .hint-text, .mat-fuse-dark-300-bg.disabled-text, .mat-fuse-dark-300-bg.hint-text, .mat-fuse-dark-400-bg .disabled-text, .mat-fuse-dark-400-bg .hint-text, .mat-fuse-dark-400-bg.disabled-text, .mat-fuse-dark-400-bg.hint-text, .mat-fuse-dark-500-bg .disabled-text, .mat-fuse-dark-500-bg .hint-text, .mat-fuse-dark-500-bg.disabled-text, .mat-fuse-dark-500-bg.hint-text, .mat-fuse-dark-600-bg .disabled-text, .mat-fuse-dark-600-bg .hint-text, .mat-fuse-dark-600-bg.disabled-text, .mat-fuse-dark-600-bg.hint-text, .mat-fuse-dark-700-bg .disabled-text, .mat-fuse-dark-700-bg .hint-text, .mat-fuse-dark-700-bg.disabled-text, .mat-fuse-dark-700-bg.hint-text, .mat-fuse-dark-800-bg .disabled-text, .mat-fuse-dark-800-bg .hint-text, .mat-fuse-dark-800-bg.disabled-text, .mat-fuse-dark-800-bg.hint-text, .mat-fuse-dark-900-bg .disabled-text, .mat-fuse-dark-900-bg .hint-text, .mat-fuse-dark-900-bg.disabled-text, .mat-fuse-dark-900-bg.hint-text, .mat-fuse-dark-A200-bg .disabled-text, .mat-fuse-dark-A200-bg .hint-text, .mat-fuse-dark-A200-bg.disabled-text, .mat-fuse-dark-A200-bg.hint-text, .mat-fuse-dark-A400-bg .disabled-text, .mat-fuse-dark-A400-bg .hint-text, .mat-fuse-dark-A400-bg.disabled-text, .mat-fuse-dark-A400-bg.hint-text, .mat-fuse-dark-A700-bg .disabled-text, .mat-fuse-dark-A700-bg .hint-text, .mat-fuse-dark-A700-bg.disabled-text, .mat-fuse-dark-A700-bg.hint-text, .mat-fuse-dark-bg .disabled-text, .mat-fuse-dark-bg .hint-text, .mat-fuse-dark-bg.disabled-text, .mat-fuse-dark-bg.hint-text, .mat-green-600-bg .disabled-text, .mat-green-600-bg .hint-text, .mat-green-600-bg.disabled-text, .mat-green-600-bg.hint-text, .mat-green-700-bg .disabled-text, .mat-green-700-bg .hint-text, .mat-green-700-bg.disabled-text, .mat-green-700-bg.hint-text, .mat-green-800-bg .disabled-text, .mat-green-800-bg .hint-text, .mat-green-800-bg.disabled-text, .mat-green-800-bg.hint-text, .mat-green-900-bg .disabled-text, .mat-green-900-bg .hint-text, .mat-green-900-bg.disabled-text, .mat-green-900-bg.hint-text, .mat-grey-600-bg .disabled-text, .mat-grey-600-bg .hint-text, .mat-grey-600-bg.disabled-text, .mat-grey-600-bg.hint-text, .mat-grey-700-bg .disabled-text, .mat-grey-700-bg .hint-text, .mat-grey-700-bg.disabled-text, .mat-grey-700-bg.hint-text, .mat-grey-800-bg .disabled-text, .mat-grey-800-bg .hint-text, .mat-grey-800-bg.disabled-text, .mat-grey-800-bg.hint-text, .mat-grey-900-bg .disabled-text, .mat-grey-900-bg .hint-text, .mat-grey-900-bg.disabled-text, .mat-grey-900-bg.hint-text, .mat-grey-A700-bg .disabled-text, .mat-grey-A700-bg .hint-text, .mat-grey-A700-bg.disabled-text, .mat-grey-A700-bg.hint-text, .mat-indigo-300-bg .disabled-text, .mat-indigo-300-bg .hint-text, .mat-indigo-300-bg.disabled-text, .mat-indigo-300-bg.hint-text, .mat-indigo-400-bg .disabled-text, .mat-indigo-400-bg .hint-text, .mat-indigo-400-bg.disabled-text, .mat-indigo-400-bg.hint-text, .mat-indigo-500-bg .disabled-text, .mat-indigo-500-bg .hint-text, .mat-indigo-500-bg.disabled-text, .mat-indigo-500-bg.hint-text, .mat-indigo-600-bg .disabled-text, .mat-indigo-600-bg .hint-text, .mat-indigo-600-bg.disabled-text, .mat-indigo-600-bg.hint-text, .mat-indigo-700-bg .disabled-text, .mat-indigo-700-bg .hint-text, .mat-indigo-700-bg.disabled-text, .mat-indigo-700-bg.hint-text, .mat-indigo-800-bg .disabled-text, .mat-indigo-800-bg .hint-text, .mat-indigo-800-bg.disabled-text, .mat-indigo-800-bg.hint-text, .mat-indigo-900-bg .disabled-text, .mat-indigo-900-bg .hint-text, .mat-indigo-900-bg.disabled-text, .mat-indigo-900-bg.hint-text, .mat-indigo-A200-bg .disabled-text, .mat-indigo-A200-bg .hint-text, .mat-indigo-A200-bg.disabled-text, .mat-indigo-A200-bg.hint-text, .mat-indigo-A400-bg .disabled-text, .mat-indigo-A400-bg .hint-text, .mat-indigo-A400-bg.disabled-text, .mat-indigo-A400-bg.hint-text, .mat-indigo-A700-bg .disabled-text, .mat-indigo-A700-bg .hint-text, .mat-indigo-A700-bg.disabled-text, .mat-indigo-A700-bg.hint-text, .mat-indigo-bg .disabled-text, .mat-indigo-bg .hint-text, .mat-indigo-bg.disabled-text, .mat-indigo-bg.hint-text, .mat-light-blue-500-bg .disabled-text, .mat-light-blue-500-bg .hint-text, .mat-light-blue-500-bg.disabled-text, .mat-light-blue-500-bg.hint-text, .mat-light-blue-600-bg .disabled-text, .mat-light-blue-600-bg .hint-text, .mat-light-blue-600-bg.disabled-text, .mat-light-blue-600-bg.hint-text, .mat-light-blue-700-bg .disabled-text, .mat-light-blue-700-bg .hint-text, .mat-light-blue-700-bg.disabled-text, .mat-light-blue-700-bg.hint-text, .mat-light-blue-800-bg .disabled-text, .mat-light-blue-800-bg .hint-text, .mat-light-blue-800-bg.disabled-text, .mat-light-blue-800-bg.hint-text, .mat-light-blue-900-bg .disabled-text, .mat-light-blue-900-bg .hint-text, .mat-light-blue-900-bg.disabled-text, .mat-light-blue-900-bg.hint-text, .mat-light-blue-A700-bg .disabled-text, .mat-light-blue-A700-bg .hint-text, .mat-light-blue-A700-bg.disabled-text, .mat-light-blue-A700-bg.hint-text, .mat-light-blue-bg .disabled-text, .mat-light-blue-bg .hint-text, .mat-light-blue-bg.disabled-text, .mat-light-blue-bg.hint-text, .mat-light-green-700-bg .disabled-text, .mat-light-green-700-bg .hint-text, .mat-light-green-700-bg.disabled-text, .mat-light-green-700-bg.hint-text, .mat-light-green-800-bg .disabled-text, .mat-light-green-800-bg .hint-text, .mat-light-green-800-bg.disabled-text, .mat-light-green-800-bg.hint-text, .mat-light-green-900-bg .disabled-text, .mat-light-green-900-bg .hint-text, .mat-light-green-900-bg.disabled-text, .mat-light-green-900-bg.hint-text, .mat-lime-900-bg .disabled-text, .mat-lime-900-bg .hint-text, .mat-lime-900-bg.disabled-text, .mat-lime-900-bg.hint-text, .mat-orange-800-bg .disabled-text, .mat-orange-800-bg .hint-text, .mat-orange-800-bg.disabled-text, .mat-orange-800-bg.hint-text, .mat-orange-900-bg .disabled-text, .mat-orange-900-bg .hint-text, .mat-orange-900-bg.disabled-text, .mat-orange-900-bg.hint-text, .mat-pink-500-bg .disabled-text, .mat-pink-500-bg .hint-text, .mat-pink-500-bg.disabled-text, .mat-pink-500-bg.hint-text, .mat-pink-600-bg .disabled-text, .mat-pink-600-bg .hint-text, .mat-pink-600-bg.disabled-text, .mat-pink-600-bg.hint-text, .mat-pink-700-bg .disabled-text, .mat-pink-700-bg .hint-text, .mat-pink-700-bg.disabled-text, .mat-pink-700-bg.hint-text, .mat-pink-800-bg .disabled-text, .mat-pink-800-bg .hint-text, .mat-pink-800-bg.disabled-text, .mat-pink-800-bg.hint-text, .mat-pink-900-bg .disabled-text, .mat-pink-900-bg .hint-text, .mat-pink-900-bg.disabled-text, .mat-pink-900-bg.hint-text, .mat-pink-A200-bg .disabled-text, .mat-pink-A200-bg .hint-text, .mat-pink-A200-bg.disabled-text, .mat-pink-A200-bg.hint-text, .mat-pink-A400-bg .disabled-text, .mat-pink-A400-bg .hint-text, .mat-pink-A400-bg.disabled-text, .mat-pink-A400-bg.hint-text, .mat-pink-A700-bg .disabled-text, .mat-pink-A700-bg .hint-text, .mat-pink-A700-bg.disabled-text, .mat-pink-A700-bg.hint-text, .mat-pink-bg .disabled-text, .mat-pink-bg .hint-text, .mat-pink-bg.disabled-text, .mat-pink-bg.hint-text, .mat-primary-300-bg .disabled-text, .mat-primary-300-bg .hint-text, .mat-primary-300-bg.disabled-text, .mat-primary-300-bg.hint-text, .mat-primary-400-bg .disabled-text, .mat-primary-400-bg .hint-text, .mat-primary-400-bg.disabled-text, .mat-primary-400-bg.hint-text, .mat-primary-500-bg .disabled-text, .mat-primary-500-bg .hint-text, .mat-primary-500-bg.disabled-text, .mat-primary-500-bg.hint-text, .mat-primary-600-bg .disabled-text, .mat-primary-600-bg .hint-text, .mat-primary-600-bg.disabled-text, .mat-primary-600-bg.hint-text, .mat-primary-700-bg .disabled-text, .mat-primary-700-bg .hint-text, .mat-primary-700-bg.disabled-text, .mat-primary-700-bg.hint-text, .mat-primary-800-bg .disabled-text, .mat-primary-800-bg .hint-text, .mat-primary-800-bg.disabled-text, .mat-primary-800-bg.hint-text, .mat-primary-900-bg .disabled-text, .mat-primary-900-bg .hint-text, .mat-primary-900-bg.disabled-text, .mat-primary-900-bg.hint-text, .mat-primary-A200-bg .disabled-text, .mat-primary-A200-bg .hint-text, .mat-primary-A200-bg.disabled-text, .mat-primary-A200-bg.hint-text, .mat-primary-A400-bg .disabled-text, .mat-primary-A400-bg .hint-text, .mat-primary-A400-bg.disabled-text, .mat-primary-A400-bg.hint-text, .mat-primary-A700-bg .disabled-text, .mat-primary-A700-bg .hint-text, .mat-primary-A700-bg.disabled-text, .mat-primary-A700-bg.hint-text, .mat-primary-bg .disabled-text, .mat-primary-bg .hint-text, .mat-primary-bg.disabled-text, .mat-primary-bg.hint-text, .mat-purple-300-bg .disabled-text, .mat-purple-300-bg .hint-text, .mat-purple-300-bg.disabled-text, .mat-purple-300-bg.hint-text, .mat-purple-400-bg .disabled-text, .mat-purple-400-bg .hint-text, .mat-purple-400-bg.disabled-text, .mat-purple-400-bg.hint-text, .mat-purple-500-bg .disabled-text, .mat-purple-500-bg .hint-text, .mat-purple-500-bg.disabled-text, .mat-purple-500-bg.hint-text, .mat-purple-600-bg .disabled-text, .mat-purple-600-bg .hint-text, .mat-purple-600-bg.disabled-text, .mat-purple-600-bg.hint-text, .mat-purple-700-bg .disabled-text, .mat-purple-700-bg .hint-text, .mat-purple-700-bg.disabled-text, .mat-purple-700-bg.hint-text, .mat-purple-800-bg .disabled-text, .mat-purple-800-bg .hint-text, .mat-purple-800-bg.disabled-text, .mat-purple-800-bg.hint-text, .mat-purple-900-bg .disabled-text, .mat-purple-900-bg .hint-text, .mat-purple-900-bg.disabled-text, .mat-purple-900-bg.hint-text, .mat-purple-A200-bg .disabled-text, .mat-purple-A200-bg .hint-text, .mat-purple-A200-bg.disabled-text, .mat-purple-A200-bg.hint-text, .mat-purple-A400-bg .disabled-text, .mat-purple-A400-bg .hint-text, .mat-purple-A400-bg.disabled-text, .mat-purple-A400-bg.hint-text, .mat-purple-A700-bg .disabled-text, .mat-purple-A700-bg .hint-text, .mat-purple-A700-bg.disabled-text, .mat-purple-A700-bg.hint-text, .mat-purple-bg .disabled-text, .mat-purple-bg .hint-text, .mat-purple-bg.disabled-text, .mat-purple-bg.hint-text, .mat-red-500-bg .disabled-text, .mat-red-500-bg .hint-text, .mat-red-500-bg.disabled-text, .mat-red-500-bg.hint-text, .mat-red-600-bg .disabled-text, .mat-red-600-bg .hint-text, .mat-red-600-bg.disabled-text, .mat-red-600-bg.hint-text, .mat-red-700-bg .disabled-text, .mat-red-700-bg .hint-text, .mat-red-700-bg.disabled-text, .mat-red-700-bg.hint-text, .mat-red-800-bg .disabled-text, .mat-red-800-bg .hint-text, .mat-red-800-bg.disabled-text, .mat-red-800-bg.hint-text, .mat-red-900-bg .disabled-text, .mat-red-900-bg .hint-text, .mat-red-900-bg.disabled-text, .mat-red-900-bg.hint-text, .mat-red-A200-bg .disabled-text, .mat-red-A200-bg .hint-text, .mat-red-A200-bg.disabled-text, .mat-red-A200-bg.hint-text, .mat-red-A400-bg .disabled-text, .mat-red-A400-bg .hint-text, .mat-red-A400-bg.disabled-text, .mat-red-A400-bg.hint-text, .mat-red-A700-bg .disabled-text, .mat-red-A700-bg .hint-text, .mat-red-A700-bg.disabled-text, .mat-red-A700-bg.hint-text, .mat-red-bg .disabled-text, .mat-red-bg .hint-text, .mat-red-bg.disabled-text, .mat-red-bg.hint-text, .mat-teal-500-bg .disabled-text, .mat-teal-500-bg .hint-text, .mat-teal-500-bg.disabled-text, .mat-teal-500-bg.hint-text, .mat-teal-600-bg .disabled-text, .mat-teal-600-bg .hint-text, .mat-teal-600-bg.disabled-text, .mat-teal-600-bg.hint-text, .mat-teal-700-bg .disabled-text, .mat-teal-700-bg .hint-text, .mat-teal-700-bg.disabled-text, .mat-teal-700-bg.hint-text, .mat-teal-800-bg .disabled-text, .mat-teal-800-bg .hint-text, .mat-teal-800-bg.disabled-text, .mat-teal-800-bg.hint-text, .mat-teal-900-bg .disabled-text, .mat-teal-900-bg .hint-text, .mat-teal-900-bg.disabled-text, .mat-teal-900-bg.hint-text, .mat-teal-bg .disabled-text, .mat-teal-bg .hint-text, .mat-teal-bg.disabled-text, .mat-teal-bg.hint-text, .mat-warn-500-bg .disabled-text, .mat-warn-500-bg .hint-text, .mat-warn-500-bg.disabled-text, .mat-warn-500-bg.hint-text, .mat-warn-600-bg .disabled-text, .mat-warn-600-bg .hint-text, .mat-warn-600-bg.disabled-text, .mat-warn-600-bg.hint-text, .mat-warn-700-bg .disabled-text, .mat-warn-700-bg .hint-text, .mat-warn-700-bg.disabled-text, .mat-warn-700-bg.hint-text, .mat-warn-800-bg .disabled-text, .mat-warn-800-bg .hint-text, .mat-warn-800-bg.disabled-text, .mat-warn-800-bg.hint-text, .mat-warn-900-bg .disabled-text, .mat-warn-900-bg .hint-text, .mat-warn-900-bg.disabled-text, .mat-warn-900-bg.hint-text, .mat-warn-A200-bg .disabled-text, .mat-warn-A200-bg .hint-text, .mat-warn-A200-bg.disabled-text, .mat-warn-A200-bg.hint-text, .mat-warn-A400-bg .disabled-text, .mat-warn-A400-bg .hint-text, .mat-warn-A400-bg.disabled-text, .mat-warn-A400-bg.hint-text, .mat-warn-A700-bg .disabled-text, .mat-warn-A700-bg .hint-text, .mat-warn-A700-bg.disabled-text, .mat-warn-A700-bg.hint-text, .mat-warn-bg .disabled-text, .mat-warn-bg .hint-text, .mat-warn-bg.disabled-text, .mat-warn-bg.hint-text {
    color: rgba(255,255,255,.5)!important;
}
