<div class="page-layout simple left-sidebar inner-sidebar inner-scroll" id="manageusers">

    <div class="header mat-accent-bg p-16 p-sm-24" style="flex-direction: row; box-sizing: border-box; display: flex; max-height: 100%; place-content: center space-between; align-items: center;">
        <div style="flex-direction: row; box-sizing: border-box; display: flex; max-height: 100%; place-content: center flex-start; align-items: center;">
            
            <div class="logo" style="flex-direction: row; box-sizing: border-box; display: flex; max-height: 100%; place-content: center flex-start; align-items: center;">
                <mat-icon class="logo-icon" role="img" aria-hidden="true">
                    account_box 
                </mat-icon>
                <span class="logo-text h1"> Contacts </span>
            </div>
        </div>
    </div>

    <div id="data-table-wrapper">
        <div id="data-table-content" class="mat-elevation-z8">
            <mat-checkbox (change)="onDisableId($event)" [checked]="disableIdColumn">Disable Id</mat-checkbox>
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>
            <table mat-table [dataSource]="users" matSort multiTemplateDataRows>

                <!--- Note that these columns can be defined in any order.
                        The actual rendered columns are set as a property on the row definition" -->
                
                

                <!-- Position Column -->
                <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
                    <ng-container *ngIf="column === 'select'">
                        <th mat-header-cell *matHeaderCellDef>
                                <mat-checkbox (change)="$event ? masterToggle() : null"
                                                [checked]="selection.hasValue() && isAllSelected()"
                                                [indeterminate]="selection.hasValue() && !isAllSelected()">\
                                </mat-checkbox>
                        </th>
                        <td mat-cell *matCellDef="let user">
                            <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event ? selection.toggle(user) : null"
                                [checked]="selection.isSelected(user)">
                            </mat-checkbox>
                        </td>
                    </ng-container>
                    <ng-container *ngIf="column === 'action'">
                            <th mat-header-cell *matHeaderCellDef>Actions</th>
                            <td mat-cell *matCellDef="let user">
                                <button mat-icon-button [matMenuTriggerFor]="menu">
                                    <mat-icon>more_vert</mat-icon>
                                </button>
                                <mat-menu #menu="matMenu">
                                    <button mat-menu-item (click)="editUser(user)">
                                        <mat-icon>edit</mat-icon>
                                        <span>Edit</span>
                                    </button>
                                    <button mat-menu-item (click)="deleteUser(user)">
                                        <mat-icon>delete</mat-icon>
                                        <span>Delete</span>
                                    </button>
                                </mat-menu>
                            </td>
                    </ng-container>
                    <ng-container *ngIf="column !== 'select' || column !== 'action'">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="mat-sort-header-sorted"> {{column}} </th>
                        <td mat-cell *matCellDef="let user"> {{user[column]}} </td>
                    </ng-container>   
                        
                </ng-container>

                <!-- <ng-container matColumnDef="expandedDetail">
                    <td mat-cell *matCellDef="let user" [attr.colspan]="displayedColumns.length">
                        <div class="example-element-detail"
                            [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                            <div class="example-element-description">
                                    Its a collapsed description
                                    <span class="example-element-description-attribution"> -- Wikipedia </span>
                            </div>
                        </div>
                    </td>
                </ng-container> -->
                
                

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                    class="example-element-row"
                    [class.example-expanded-row]="expandedElement === element"
                    (click)="expandedElement = element">
                </tr>
                 

                    
            </table>

                  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                  
        </div>
    </div>
    
    
</div>
<button mat-fab color="primary" id="add-user-button" (click)="addUser()"><mat-icon class="mat-icon" role="img" aria-hidden="true">person_add</mat-icon></button>