<div class="page-layout simple left-sidebar inner-sidebar inner-scroll" id="manageusers">

    <div class="header mat-accent-bg p-16 p-sm-24" style="flex-direction: row; box-sizing: border-box; display: flex; max-height: 100%; place-content: center space-between; align-items: center;">
        <div style="flex-direction: row; box-sizing: border-box; display: flex; max-height: 100%; place-content: center flex-start; align-items: center;">
            
            <div class="logo" style="flex-direction: row; box-sizing: border-box; display: flex; max-height: 100%; place-content: center flex-start; align-items: center;">
                <mat-icon class="logo-icon" role="img" aria-hidden="true">
                    account_box 
                </mat-icon>
                <span class="logo-text h1"> Contacts </span>
            </div>
        </div>
    </div>

    
    
    
</div>
<button mat-fab color="primary" id="add-user-button" (click)="addUser()"><mat-icon class="mat-icon" role="img" aria-hidden="true">person_add</mat-icon></button>